<h1>Booking Mark</h1>
<<<<<<< HEAD

<%= image_tag(url_cdn("images/bookmark2.jpg")) %>

<div class="clear"></div>
<p>&nbsp</p>

=======
>>>>>>> a9de3ff4fe6633590b90c8b0158dcc2f91cb21ac
<%= render 'workshops/booking' %>

<p>&nbsp</p>
<p>&nbsp</p>

<h1>Workshops</h1>
<<<<<<< HEAD
<%= render 'workshops/calendar' %>

<% content_for :top do %>
	<%= render 'pages/top_bookmark' %>
<% end %>
=======
<%= render 'workshops/calendar' %>
>>>>>>> a9de3ff4fe6633590b90c8b0158dcc2f91cb21ac
