<h1>Workshop Topics</h1>

<p>These are my primary workshop offerings. Please feel free to propose other topics  – specific topics in yoga philosophy, history, asana, pranayama, mediation – or propose a custom offering by combining elements of these, especially as related to teaching yoga.</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>The Art & Science of Sequencing</h2>
<p><%= image_tag(url_cdn("images/topics01.jpg")) %></p>
<p><strong>Description:</strong> This workshop builds on prior learning about all the families of poses (standing poses, backbends, inversions, etc.). Here we focus on how to design complete classes based on the informed ordering of poses. The basic question we address is, “why this pose before or after that pose?” Rather than random or excessively creative sequencing, this workshop is based on how the body works and how to make the practice of asanas as safe, accessible, yet as deep as possible. Includes a two-hour lecture on the essential principles of sequencing and in-depth presentations on how to link poses within and between families of poses. Participants collaborate in small groups to craft a variety of classes for different levels of students, styles of yoga, and class intentions; these are presented to the entire workshop for discussion, critique, and refinement. Applies and expands prior learning about functional anatomy, bio-mechanics, kinesiology and other elements of the practice.</p>

<p><strong>Format Options:</strong> 20–40 hour workshop, or 10–12–hour workshop on selected families of poses</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Hands-On Adjustments & Use of Props</h2>
<p><%= image_tag(url_cdn("images/topics02.jpg")) %></p>
<p><strong>Description:</strong> Skillful, sensitive, appropriate touch and verbal cues have the potential to transport students to a more conscious awareness and self-refinement in their yoga practice. But before we touch and speak we must first see and understand the unique qualities present in an individual student's practice. In this workshop, we further develop postural observation skills; learn and practice effective hands-on adjustments that both address common misalignments and encourage inner guidance in a variety of poses; enhance the skill of linking clear verbal cues with tactile cues; and deepen confidence in the practice of giving and receiving as participants learn to better help students find joy and ease amidst the challenges in their practice.</p>

<p><strong>Format Options:</strong> 20–40 hour comprehensive workshop</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Alignment, Energetic Action, and Transitioning in Flowing Sequences of Poses</h2>
<p><%= image_tag(url_cdn("images/topics03.jpg")) %></p>
<p><strong>Description:</strong> Here we look closely at transitions into and out of poses as well as the fundamental alignment principles, risks and contraindications, energetic actions, modifications, and variations for each of the constituent postures found in dynamic sequences. Detailed breakdown of classical sun salutations, surya namaskara A & B, dancing warrior variations, lasya vinyasa, and sirsasana II arm balance vinyasas.</p>

<p><strong>Format Options:</strong> 25–40 hour workshop, or 12–hour workshop on selected sequences</p>

 

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Standing Pose Details</h2>
<p><%= image_tag(url_cdn("images/topics04.jpg")) %></p>
<p><strong>Description:</strong> Detailed exploration of the major standing poses. After close study of Mountain Pose (Tadasana), the foundational asana for all other standing poses, we look in detail at up to twenty-five of the primary standing poses. With each pose, we step into the Yoga Lab to learn how to look at, see, understand, and relate in a meaningful way with effective verbal and hands–on cues to students who exhibit different challenges and tendencies in that particular pose. Also covers how and from what vantage point to best observe and demonstrate, helpful modifications and use of props, and variations for students who can go farther.</p>

<p><strong>Format Options:</strong> 25–40 hour workshop, or 12–hour workshop on selected poses</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>The Inter-Relations of Core, Arm Balances, and Inversions</h2>
<p><%= image_tag(url_cdn("images/topics05.jpg")) %></p>
<p><strong>Description:</strong> Detailed breakdown seven core strengthening and opening practices and application of an awakened core to up to fifteen arm balances and inversion poses. Standing poses are explored in their sub-families: internal rotation, external rotation, and standing balance. With each pose, we step into the Yoga Lab to learn how to look at, see, understand, and relate in a meaningful way with effective verbal and hands–on cues to students who exhibit different challenges and tendencies in that particular pose. Covers benefits, risks and contraindications, alignment principles and energetic actions. Also covers how and from what vantage point to best observe and demonstrate, helpful modifications and use of props, and variations for students who can go farther.</p>

<p><strong>Format Options:</strong> 25–40 hour workshop, or 12–hour workshop on selected inter-related poses</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Fundamentals and Details of Backbends & Twists</h2>
<p><%= image_tag(url_cdn("images/topics06.jpg")) %></p>
<p><strong>Description:</strong> Detailed breakdown of up to seventeen backbends and seven seated and supine twisting poses. These two families are covered together because twists offer the essential counterposes to a sustained backbend practice. With each pose, we step into the Yoga Lab to learn how to look at, see, understand, and relate in a meaningful way with effective verbal and hands–on cues to students who exhibit different challenges and tendencies in that particular pose. Covers benefits, risks and contraindications, alignment principles and energetic actions. Also covers how and from what vantage point to best observe and demonstrate, helpful modifications and use of props, and variations for students who can go farther.</p>

<p><strong>Format Options:</strong> 25–40 hour workshop, or 12–hour workshop on selected poses</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Seated & Supine Forward Bends & Hip Openers</h2>
<p><%= image_tag(url_cdn("images/topics07.jpg")) %></p>
<p><strong>Description:</strong> Detailed breakdown of up to fifteen forward bends and hip openers. These two families are covered together because they a) share many basic forms and energetic elements, and b) are ideally sequenced close together as part of the more calming and integrative part of a practice. With each pose, we step into the Yoga Lab to learn how to look at, see, understand, and relate in a meaningful way with effective verbal and hands–on cues to students who exhibit different challenges and tendencies in that particular pose. Covers benefits, risks and contraindications, alignment principles and energetic actions. Also covers how and from what vantage point to best observe and demonstrate, helpful modifications and use of props, and variations for students who can go farther.</p>

<p><strong>Format Options:</strong> 25–40 hour workshop, or 12–hour workshop on selected poses</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Teaching Pranayama, Bandhas, and Subtle Energy</h2>
<p><%= image_tag(url_cdn("images/topics08.jpg")) %></p>
<p><strong>Description:</strong> This workshop draws from and integrates both the western anatomy and physiology of respiration and the esoteric anatomy and physiology of subtle energy found in ancient yoga practices. We cover the fundamentals of basic yoga breathing (ujjayi pranayama) and how to refine the pranayama experience through several specific ancient breathing practices, including viloma, kumbhaka, kapalabhati, nadi shodana and more recent forms such as holotropic breathing. Covers basic concepts of subtle energy (koshas, prana vayus, chakras, nadis) and how to guide students in cultivating awareness of the principal bandhas in asana and pranayama practices.</p>

<p><strong>Format Options:</strong> 25–40 hour workshop, or 2–12–hour workshop on selected pranayama techniques.</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>The Traditional Energetics of Sequencing</h2>
<p><%= image_tag(url_cdn("images/topics09.jpg")) %></p>
<p><strong>Description:</strong> This sequencing workshop focuses on the cultivation of subtle energy. We explore and apply the concepts of koshas, prana vayus, chakras, nadis, gunas and doshic constitution to crafting a variety of classes designed for different specific students, intentions, seasons and settings. We also explore the relationship between traditional energetics and western medical models of the body in understanding the effects of different sequences</p>

<p><strong>Format Options:</strong> 25–40 hour workshop, or 10–hour workshop on selected topics</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Teaching Pre–Natal Yoga</h2>
<p><%= image_tag(url_cdn("images/topics10.jpg")) %></p>
<p><strong>Description:</strong> This workshop provides a solid foundation for safely practicing and teaching pre–natal yoga, whether in dedicated pre-natal classes or with students in regular public yoga classes. Topics include basic maternal anatomy and physiology; guidelines for asanas specific to each trimester and various pre-natal conditions; adaptations and contraindications for a variety of asana and pranayama techniques; what to expect and how to support emotional changes throughout pregnancy; the creative use of yoga props and hands-on adjustments to ensure safety and support; pelvic floor practices designed to ease delivery and recovery; and breathing and relaxation techniques designed to create more comfort during pregnancy, labor and early mothering.</p>

<p><strong>Format Options:</strong> 25–40 hour comprehensive workshop, or 10–hour workshop on basic elements of prenatal yoga</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Working with Injuries</h2>
<p><%= image_tag(url_cdn("images/topics11.jpg")) %></p>
<p><strong>Description:</strong> Yoga teachers commonly encounter injuries and other special conditions in their students. ACL repairs, strained medial collateral ligaments, carpal tunnel syndrome, rotator cuff strain or weakness, various spinal conditions such as lordosis, kyphosis, scoliosis and spondalolysthesis, recent ankle sprains and strained hamstrings are just some of the conditions that teachers are likely to find in practically every class. In this workshop, we will start with the perspective embedded in the Chinese character for "crisis," which has the dual meaning of "danger" and "opportunity." We will learn how to work with a variety of student challenges, exploring how to turn them into opportunities for deepening the overall practice. We will look closely at specific accommodations for different injuries and challenges, including alternative alignment, energetic actions, use of props, verbal cues and hands-on adjustments. Close examination of how to craft individualized therapeutic practices that support physical therapy protocols and various alternative healing modalities.</p>

<p><strong>Format Options:</strong> 25–40 hour comprehensive workshop, or 12–hour workshop on selected injuries</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Yoga Philosophy & History</h2>
<p><%= image_tag(url_cdn("images/topics12.jpg")) %></p>
<p><strong>Description:</strong> Subjects cover ancient and contemporary yoga philosophy, including the earliest writings on yoga from the Vedic and Upanishadic periods of Indian history, in-depth exploration of the Bhagavad Gita and Yoga Sutras of Patanjali, the rise of Tantra and the relationship between Tantra and the early evolution of Hatha yoga between the 9th and 14th centuries CE, the origins and evolutionary development of yoga in the West in the 20th century, and contemporary yoga philosophy. Lecture and discussion format.</p>

<p><strong>Format Options:</strong> 25–40 hour in-depth coverage of topics, or  2–12–hour lecture/discussions on selected topics</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Teaching Meditation</h2>
<p><%= image_tag(url_cdn("images/topics13.jpg")) %></p>
<p><strong>Description:</strong> This workshop offers several approaches to guiding meditation in ways that make the practice more accessible and joyful to all who open to it. Covers several techniques, including basic breath-as-mantra, heart-centered, classical mantra, tantric micro-practice, counting, visualization, and traditional methods informed by the insights of classical (raja) yoga. Lecture, discussion, and practice format.</p>

<p><strong>Format Options:</strong> 25–40 hour in-depth exploration, or  2–12–hour lecture/discussions/practice  with selected techniques</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>The Profession & Business of Yoga</h2>
<p><%= image_tag(url_cdn("images/topics14.jpg")) %></p>
<p><strong>Description:</strong> This workshop can focus on the profession and/or the business of yoga. The focus on profession covers the practice of teaching as a professional yoga teacher, professional ethics, yoga teacher lifestyle and livelihood, crafting a yoga resume, understanding teacher compensation, and various aspects of marketing oneself as a yoga teacher. The focus on business covers developing a yoga business plan, the nuts and bolts of developing and operating a yoga studio, human resources, financial management, and how to effectively position and market a yoga studio. A third focus on developing a non-profit yoga organization covers strategic planning for specific non-profit missions, setting up and managing a non-profit organization, grant procurement and other forms of resource development, process and performance evaluation, and marketing.</p>

<p><strong>Format Options:</strong> 2–12–hours lecture/discussions/practical exercises on selected topics</p>

<div class="clear"></div>
<p>&nbsp;</p>

<h2>Practical Anatomy and Kinesiology for Teaching Yoga</h2>
<p><%= image_tag(url_cdn("images/topics15.jpg")) %></p>
<p><strong>Description:</strong> A hands-on introduction to functional anatomy, bio-mechanics and the kinesiology of movement as applied to seeing students in their practice and guiding them in a meaningful, safe, and effective way. Covers the basic language of anatomy, anatomical position, gravitational line, major joints and muscles, innervation and movement. Detailed coverage of the feet, knees, hips/pelvis, spine, shoulders, arms and hands.</p>

<p><strong>Format Options:</strong> 6-20 hours on selected topics</p>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt-summer.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-refine.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-pre.jpg") %></li>
         </ul>
      </div>
	 </div>
<% end %>

<% content_for :side do %>
	<%= render 'pages/side_upcoming' %>
<% end %>
