<%= render 'audios/list' %>

<% content_for :side do %>

  <h2 class="ind2">Links</h2>
	<%= render 'layouts/subnav' %> 
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_books' %>

	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_upcoming' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_newsletter' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_yogatt' %>

<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt.jpg") %></li>
         </ul>
      </div>
	 </div> 
<% end %>