<div class="video-player">
	<h2><%= @audio.title %></h2>
	<div class="audio-player">
		<%= videojs_rails source: @audio.audio, width:"850px" %>
	</div>
</div>

<%= render 'audios/list' %>

<% content_for :side do %>
  <h2 class="ind2">Links</h2>
	<%= render 'layouts/subnav' %> 
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt.jpg") %></li>
         </ul>
      </div>
	 </div> 
<% end %>