<div class="slideshow-player">
	<h2><%= @slideshow.title %></h2>
	<%= raw @slideshow.content %>
</div>

<%= render 'slideshows/list' %>

<% content_for :side do %>
  <h2 class="ind2">Links</h2>
	<%= render 'layouts/subnav' %> 
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-slides.jpg") %></li>
         </ul>
      </div>
	 </div> 
<% end %>