<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New YTT Application Recieved</h1>
    
    	<br><br>

      <p>Program: <%= @ytt.program %></p>
		  <p>Name: <%= @ytt.name %></p>
		  <p>Nickname: <%= @ytt.nickname %></p>
		  <p>Address: <%= @ytt.address %></p>
		  <p>City: <%= @ytt.city %></p>
		  <p>State: <%= @ytt.state %></p>
		  <p>Zip: <%= @ytt.zip %></p>
		  <p>Phone: <%= @ytt.phone %></p>
		  <p>Email: <%= @ytt.email %></p>
		  <p>Website: <%= @ytt.website %></p>
		  
		  <br><br>
		  
		  <p>Emergency Name: <%= @ytt.em_name %></p>
		  <p>Emergency Relative: <%= @ytt.em_rel %></p>
		  <p>Emergency Phone: <%= @ytt.em_phone %></p>
		  
		  <br><br>
		  
		  <p>Health: <%= @ytt.health %></p>
		  <p>Health Description: <%= @ytt.health_dscr %></p>
		  
		  <br><br>
		  
		  <p>Experience 1: <%= @ytt.exp_1 %></p>
		  <p>Experience 2: <%= @ytt.exp_2 %></p>
		  <p>Experience 3: <%= @ytt.exp_3 %></p>
		  <p>Experience 4: <%= @ytt.exp_4 %></p>
		  <p>Experience 5: <%= @ytt.exp_5 %></p>
		  <p>Experience 6: <%= @ytt.exp_6 %></p>
		  <p>Experience 7: <%= @ytt.exp_7 %></p>
		  <p>Experience 8: <%= @ytt.exp_8 %></p>
		  <p>Experience 9: <%= @ytt.exp_9 %></p>
		  <p>Experience 10: <%= @ytt.exp_10 %></p>
		  <p>Experience 11: <%= @ytt.exp_11 %></p>
		  <p>Experience 12: <%= @ytt.exp_12 %></p>
		  <p>Experience 13: <%= @ytt.exp_13 %></p>
		  <p>Experience 14: <%= @ytt.exp_14 %></p>
		  

  </body>
</html>