<div class="video-player">
	<h2><%= @video.title %></h2>
	<%= videojs_rails source: @video.video, width:"850px" %>
</div>

<%= render 'videos/list' %>

<% content_for :side do %>
  <h2 class="ind2">Links</h2>
	<%= render 'layouts/subnav' %> 
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-videos.jpg") %></li>
         </ul>
      </div>
	 </div> 
<% end %>