<%= render 'pages/side_books' %>

<div class="clear"></div>
<p>&nbsp;</p>

<%= render 'pages/side_upcoming' %>

<div class="clear"></div>
<p>&nbsp;</p>

<%= render 'pages/side_newsletter' %>

<div class="clear"></div>
<p>&nbsp;</p>

<%= render 'pages/side_yogatt' %>

<div class="clear"></div>
<p>&nbsp;</p>

<%= render 'pages/side_rys' %>