<h1>Yoga Teacher Training & Beyond</h1>

<p>Yoga teacher training. Classes, workshops, retreats and special events for yoga teachers and students. Free instructional yoga videos, podcasts, articles and asana slideshows. Enjoy exploring!</p>

<div class="clear"></div>
<p>&nbsp;</p>

<hr>

<div class="clear"></div>
<p>&nbsp;</p>

<iframe src="http://player.vimeo.com/video/35042511?title=0&amp;byline=0&amp;portrait=0" width="600" height="350" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<div class="clear"></div>
<p>&nbsp;</p>

<hr>

<div class="clear"></div>
<p>&nbsp;</p>

<h1>New Bestseller for Yoga Teachers!</h1>

<h2>Yoga Sequencing: Designing Transformative Yoga Classes</h2>

<p style="text-align:center;"><%= link_to image_tag(url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/yoga_sequencing_cover.jpg")), yogaseq_url, :title => 'Yoga Sequencing' %></p>

<div class="clear"></div>
<p>&nbsp;</p>

<p>North Atlantic Books, 2012. 528 pages, 2,000 photographs.</p>
<p>This book covers the essential principles and methods for planning and sequencing yoga classes. It empowers yoga teachers to be their creative best in designing yoga classes for all student levels. An excellent resource in yoga teacher training and teacher certification programs.</p>

<div class="clear"></div>
<p>&nbsp;</p>

<hr>

<div class="clear"></div>
<p>&nbsp;</p>

<p>
"A rich resource... Outstanding...Accessible for all." <br>
<strong>–Stephen Cope</strong>

<div class="clear"></div>
<p>&nbsp;</p>

<p>
"A great service to the yoga community..." <br>
<strong>–Shiva Rea</strong></p>

<div class="clear"></div>
<p>&nbsp;</p>

<p>
"Comprehensive...Essential reading...An instant classic."<br>
<strong>–Leslie Kaminoff</strong></p>

<div class="clear"></div>
<p>&nbsp;</p>

<p>
"An enormous contribution to the field of yoga teaching."<br>
<strong>–Ganga White</strong></p>

<div class="clear"></div>
<p>&nbsp;</p>

<p>
"A wise, practical guide...Should be in every yoga maven's library."<br>
<strong>–Sally Kempton</strong></p>

<div class="clear"></div>
<p>&nbsp;</p>

<p>
"Yoga Sequencing is going to be very helpful to a lot of people, both teachers and students alike."<br>
<strong>–Erich Schiffmann</strong></p>

<div class="clear"></div>
<p>&nbsp;</p>

<p>
"A contemporary yoga classic...should be required reading in all yoga teacher training schools."<br>
<strong>–James Bailey</strong></p>

<div class="clear"></div>
<p>&nbsp;</p>

<p>
"Empowers yoga teachers to be their best."<br>
<strong>–Joel Kramer</strong></p>

<div class="clear"></div>
<p>&nbsp;</p>

<% content_for :side do %>
	<%= render 'home/side' %> 
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-cew.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-refine.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt-summer-1.jpg") %></li>
         </ul>
      </div>
	 </div>
<% end %>