<h1>New to Yoga</h1>

<p><%= image_tag(url_cdn("images/class6.jpg")) %></p>

<p>Welcome! Whatever your age, condition or background, there is a yoga practice for you. So long as you tune in inside and pay attention to how you are feeling while doing yoga, this practice will give you tremendous health benefits, including a more positive outlook on life and a growing sense of ease in your daily life.</p>

<p>Each of my classes offers a complete practice. You can drop in to any class. Try to arrive at least five minutes early to sign-in and get settled. If it is your first time to my class, please try to arrive a little earlier so we can meet before class starts. Please inform me of any injuries or special conditions (pregnancy, illness, traumas, etc.). If you arrive late or must leave early, please do so as quietly as you can. </p>

<h2>Please remember to:</h2>

<ul class="list1">
<li>Wear comfortable clothes so you can move around with ease.</li>
<li>Refrain from eating a meal for at least two hours before class and from eating any snacks for an hour or so before class (ideally you will practice on an empty stomach).</li>
<li>Refrain from drinking a lot of water within a half-hour before class.</li>
<li>Try to relieve your bladder and bowels before class.</li>
<li>Please, no perfumes, colognes or strong aromatic oils.</li>
<li>Turn off your cell phone.</li>
<li>Come prepared to work your body and breath, calm your mind, and open your heart.</li>
</ul>

<p>&nbsp;</p>

<%= render 'classes/schedule' %>

<div class="clear"></div>
<p>&nbsp;</p>

<%= render 'classes/buypasses' %>

<% content_for :top do %>
	<%= render 'classes/top' %>
<% end %>

<%= content_for :side do %>
	<%= render 'classes/side' %>
<% end %>