<h1>Santa Cruz Yoga Information</h1>

<p>Mark Stephens’ Santa Cruz Yoga studio offers over 50 classes weekly for beginning to advanced students taught by a diverse team of outstanding teachers drawn from a wide range of yoga backgrounds, including Vinyasa Flow, Iyengar, Ashtanga, Power, Yin and other forms of Hatha yoga.</p>

<p>We are a Yoga Alliance Registered Yoga School offering Basic (200-Hour) and Advanced (500-Hour) yoga teacher training and certification. Trainings are offered twice per year, summer and winter. Please click on the Yoga Teacher Training tab to learn more about the programs, curriculum, scheduling, applying, pricing and other details.</p>

<p>Santa Cruz, California, is world renowned as a center of conscious living and learning. Located along the central California coast halfway between San Francisco and Big Sur and surrounded by pristine redwood forests, meadowland, and the Pacific Ocean, the beautiful natural setting of this place makes it wonderful for pausing, reflecting, and moving more consciously along your path.</p>

<p>Santa Cruz Yoga is the region’s premier yoga studio, offering a diverse schedule of classes, workshops, teacher trainings, retreats, and special events. Just a five–minute walk from West Cliff Drive, the studio is a short bike ride away from downtown, Natural Bridges State Park and Wilder Ranch State Park. It’s a short drive to deeper redwood forests in Henry Cowell and Big Basin State Parks. We are also blessed with world–class surf breaks, seemingly endless miles of mountain biking trails, and a variety of other outdoor adventure opportunities.</p>

<p>If you plan to visit Santa Cruz for an extended stay or to take teacher training here, please let us know well enough in advance to advise you in finding accommodations and helping you to make your stay as fulfilling as possible.</p>


<h2>Sites to see & fun outings while visiting:</h2>

<p>Distance from Santa Cruz Yoga in brackets, [  ]</p>

 
<ul class="list1">
<li>West Cliff Drive, http://www.tripadvisor.com/ShowUserReviews-g33048-d609295-r153393210-West_Cliff_Drive-Santa_Cruz_California.html.  A 2 mile scenic walk, views of the beach and bay.  [0.5 miles]</li>

<li>Wilder Ranch State Park, http://www.parks.ca.gov/?page_id=549  , (831)423-9703, 1401 Old Coast Road.  Enjoy the natural beauty of the park with 34 miles of hiking, biking and equestrian trails. [1 mile]</li>

<li>Natural Bridges State Beach, http://www.parks.ca.gov/?page_id=541 , (831)423-4609, 2531 West Cliff Drive.  Known for its beautiful beach, tide pools, and home to the returning butterflies during late fall into early winter.  [1.3 miles]</li>

<li>Ano Nuevo State Park, http://www.parks.ca.gov/?page_id=523 , (650)879-2025, Hwy 1 at New Years Creek Road.  A nature preserve with some restrictions and seasonal access.  Guided walks to see elephant seals, Dec. 15th  to March 31st. [20 miles]</li>

<li>Santa Cruz Beach Boardwalk, http://beachboardwalk.com/ , (831)423-5590, 400 Beach Street.  Home to an historic wooden rollercoaster, the Giant Dipper, rides, food and fun.   Also enjoy shopping, dining and recreation at the nearby Santa Cruz Wharf.  [2 miles]</li>

<li>Chardonnay Sailing Charters, http://www.chardonnay.com/index.php, ( 831)423-1213, 790 Mariner Park Drive, Dock FF.  Begin your excursion at Santa Cruz Yacht Harbor and experience the Monterey Bay from the water on a beautiful 70 foot sailing yacht. [3.5 miles]</li>
</ul>

<p>&nbsp;</p>
 

<h2>Food & Dining</h2>
<p>Grocers with fresh, local, organic offerings</p>

<ul class="list1">
<li>New Leaf Market, www.newleaf.com, (831)426-1306, 1101 Fair Avenue.  [0.25 miles]</li>
<li>Food Bin and Herb Room, http://www.yelp.com/biz/herb-room-santa-cruz,  (831)429-8108, 1130 Mission Street. [1 mile]</li>
</ul>
 
<p>&nbsp;</p>

<h2>Lunch & Dinner</h2>

<ul class="list1">
<li>Kelly’s French Bakery, http://kellysfrenchbakery.com/, (831)423-9059.  402 Ingalls Street. Right next door to the studio!  Open seven days a week, from baked goods, whole meals and our favorite green smoothies, Kelly’s has much to offer.  [0 miles]</li>

<li>Ristorante Avanti, http://ristoranteavanti.com/, (831)427-0135, 1917 Mission Street. Farm to table since 1987, enjoy the delicious food and house made desserts.  [0.5 miles]</li>

<li>Santa Cruz Mtn. Brewing, http://www.scmbrew.com/, (831)425-4900.  402 Ingalls Street. An award winning certified organic brewery, with a tap room and beer garden. [0 miles]</li>

<li>Stagnaro’s Brothers Seafood, http://www.stagnarobros.com/, (831)423-2180, 59 Municipal Wharf. Located on the Santa Cruz Wharf, known for offering the widest variety of the freshest fish around!  [2 miles]</li>

<li>Bantam, http://www.bantam1010.com/  , (831)420-0101, 1010 Fair Avenue. Open for dinner only, this is a popular pizza place with a fresh, foodie twist.  Their slogan: “Don’t panic, it’s organic”. [0.25 miles]</li>

<li>Café Brasil, http://www.cafebrasil.us/, (831)429-1855, 1410 Mission Street.  Open for breakfast and lunch, serving authentic  Brazilian food.  [1 mile]</li>
</ul>
 
 <p>&nbsp;</p>

<h2>Recommended Bakeries:</h2>

<ul class="list1">
<li>Kelly’s French Bakery, http://kellysfrenchbakery.com/, (831)423-9059.  402 Ingalls Street. Right next door to the studio!  Open seven days a week, from baked goods, whole meals and our favorite green smoothies, Kelly’s has much to offer.  [0 miles]</li>

<li>Emily’s Good Things to Eat, http://emilysbakery.com/, (831)429-9866, 1129 Mission Street. Fresh made bread, sandwiches and more. [1 mile]</li>

<li>Companion Bakeshop, http://www.companionbakeshop.com/, (831)252-2253, 2341 Mission Street. Known for their organic brick oven breads and pastries. [0.5 miles] </li>
</ul>

<p>&nbsp;</p>
 
<h2>Local Wines</h2>

<ul class="list1">
<li>Wineries on the West Side, on Ingalls between Swift Street and Fair Avenue.  A selection of tasting rooms with a variety of local wines offerings.  [0-0.25 miles]</li>
</ul>

<div class="clear"></div>
<p>&nbsp;</p>

<%= render 'classes/schedule' %>

<div class="clear"></div>
<p>&nbsp;</p>

<%= render 'classes/buypasses' %>

<% content_for :top do %>
	<%= render 'classes/top' %>
<% end %>

<%= content_for :side do %>
	<%= render 'classes/side' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<p><%= image_tag(url_cdn("images/class11.JPG")) %></p>

	<p><%= image_tag(url_cdn("images/class12.jpg")) %></p>
	
	<p><%= image_tag(url_cdn("images/class13.jpg")) %></p>
	
	<p><%= image_tag(url_cdn("images/class14.jpg")) %></p>

<% end %>