<h1>About Mark</h1>

<p><%= image_tag(url_cdn("images/mark10.jpg")) %></p>

<p>Yoga teacher and author Mark Stephens is one of the world's leading trainers of yoga teachers. He is the author of Teaching Yoga: Essential Foundations and Techniques (2010), Yoga Sequencing: Foundations, Principles and Resources (2012), and the forthcoming Yoga Adjustments: Philosophies, Principles, and Techniques. Mark's eclectic style and open-minded approach to yoga draws from years of yoga practice and deep study of Ashtanga Vinyasa, Iyengar, vinyasa flow, yoga therapy, tantra and ayurveda as well as learning theory, philosophy, functional anatomy, bio-mechanics and kinesiology, offering a synthesis of traditional and contemporary insights into the practice.</p>

<p>Mark started exploring yoga on his own as a teenager drawn to philosophy and metaphysics in the 1970s, began a consistent daily practice in 1991, has taught yoga since 1996. In 1997, Mark founded Yoga Inside Foundation and began training yoga teachers and giving them support in bringing yoga into hundreds inner city schools, treatment centers, prisons and shelters across the U.S. and Canada; he received Yoga Journal’s 1st Annual Karma Yoga Award in 2000 for this non-profit service. He is the founder of L.A. Yoga Center (now Yoga Works Westwood) and Santa Cruz Yoga, where he presently teaches and directs the yoga teacher training program. Mark offers classes, workshops, trainings and retreats worldwide.</p>

<h2>Mark's Longer First Person Story</h2>
<p>Twenty-five years ago I couldn’t imagine being a yoga teacher. Although I had dabbled in yoga in my late teens, things like college, work, and relationships took me in a different direction. Indeed, I went so far in another direction that yoga would seem farthest from it - community organizing, politics and academia, yet that path brought me back to the practice in a way that felt like coming home after a long adventure. A few years later teaching yoga became the most natural expression of what mattered most in my life: waking up to the fullest experience of being vibrantly alive.</p>

<p>I was lucky to be raised in a family of teachers and spiritual seekers; it was my first yoga teacher training. After my dad and mom retreated from Silicon Valley a few years before it was called that, they settled in the Santa Cruz Mountains where every day they created a way to celebrate life amidst the natural and cultivated beauty of the land. They instilled a sense of playful curiosity about the world, inspiring me and my siblings to explore and experience the world with open minds and strong bodies. As teachers they made everything from shifts in the weather to maintaining the land to fixing machinery into learning experiences in the laboratory of life. Without ever suggesting that we teach, they made us into teachers. Without ever asking us to bow, they opened us to experiencing a sense of spirit in every moment of life.</p>

<p><%= image_tag(url_cdn("images/mark11.jpg")) %></p>

<p>In 1969, when I was 10, my mother died from the effects of breast cancer. (The picture to the left shows my mom in King Pigeon Pose when she was 8 years old, summertime 1931 in the San Lorenzo River that runs down into Santa Cruz. My grandfather and my mom's siblings are sitting on the dock.) Later that year we moved south to the Mojave Desert. It was a challenging time for our family as we adapted to living without our mom; there was a palpable sadness, yet with it deeper reflection. We started asking questions about life and death, even as we enjoyed doing all the fun things kids do when being kids. It was clear that life could be really challenging, yet in the challenges lay the path to feeling that much more alive and vital. It's an insight that I try to tap into whenever on my mat or helping someone else with an asana or breathing technique.</p>

<p>Five years later I had my earliest experience with both teaching and yoga. I had started tutoring in a special education classroom (with developmentally delayed children), which ignited a passion for teaching that has grown stronger ever since. That same year a friend gave me Alan Watts’ The Book: On the Taboo Against Knowing Who You Are, turning me onto Eastern philosophy, meditation, and yoga. I then found a yoga book by Richard Hittleman and started playing around with the asanas. Two years later, I was tutoring college students in math and philosophy while using B.K.S. Iyengar’s Light on Yoga to dive more deeply into yoga. Teaching and yoga, although largely separate, were pulsating in my heart and bodymind.</p>

<p>Returning to Santa Cruz to study at the University of California campus there in 1979, yoga quickly faded as I concentrated on my studies and political activism on campus and in the local community. As a teaching assistant in the Community Studies program, I again enjoyed facilitating learning. I also enjoyed all sorts of sports and outdoor adventure, from basketball and ultimate Frisbee to skiing and triathlons. After graduation with highest honors I went to L.A. to work on environmental issues for a few years, gaining my first experience in teaching others how to do community organizing. With one foot firmly grounded in that work, I stepped the other back into academia for seven years of post-graduate studies in comparative and historical sociology at UCLA.</p>

<p>My doctoral research was pretty far removed from yoga: I studied the origins and early historical development of the CIA as a case study of power at the highest levels of the American state. I loved the intellectual work, the research and writing, the give and take in seminars shared with amazingly smart people, and the sense that our work could matter in world filled with conflict and contradiction. Yet graduate studies also highlighted the gulf between academia and the practical realities of life in L.A. amidst the raging gang wars and social conflicts of the 1980s, leading me to teach social studies and journalism in Compton, Watts, and later in L.A.’s high security juvenile institutions where I could work directly with gang members. This led to over ten years working at the intersection of the education and juvenile justice systems as a teacher, administrator, policy advocate and executive management consultant.</p>

<p>Working with gang members marked the first time since my mother’s death that I was fully faced with matters of life and death on a daily basis. This brought me back to many of the questions I had explored in my teens; it also brought me back to yoga. My work and my life were seemingly in fast forward, yet I couldn’t see clearly where I was or where I was going. I felt somewhat lost. I wanted a better sense of balance in my life - a better life.</p>

<p>I remembered yoga.</p>

<p>My first formal yoga class was with Steve Ross, who made yoga absolutely fun and spirited yet deep and sublime. I began a daily practice that continues to this day. I soon found my way to Erich Schiffmann's classes, a blend of his Iyengar background and Joel Kramer's "playing the edge" method, from there to Ashtanga Vinyasa mostly with Chuck Miller, and later vinyasa flow with Shiva Rea right when that style was first emerging in the mid-1990s.</p>

<p>In 1995 I completed the original Yoga Works teacher training program and immersed myself in advanced teacher training 1995-1997, including in-depth workshops with Kofi Busia, Richard Freeman, Rodney Yee, Patricia Walden, Gary Kraftsow, Ramanand Patel, Dona Holleman, Lisa Walford, Judith Lasater, Aadil Palkhivala, Tim Miller, Sarah Powers, John Schumacher, John Friend and several others. I started teaching a full schedule of classes in 1996 and have taught yoga ever since (at Malibu Yoga, Yoga Works, L.A. Yoga Center and Santa Cruz Yoga).</p>

<p>I founded Yoga Inside Foundation in 1997, organizing and supporting ongoing yoga classes in hundreds of inner city and poor rural schools, treatment centers, prisons and other alternative settings in 42 states, and traveling around the United States conducting yoga teacher trainings for teachers involved with this project. This experience brought me to focus more and more on developing and implementing the best possible yoga teacher training program. Yoga Journal magazine recognized this initiative with its 1st Annual Karma Yoga Award in 2000.</p>

<p>In 2002, I founded L.A. Yoga Center with twenty-five teachers, including Rod Stryker, Marla Apt, Chad Hamrin, and Hala Khouri, with Rodney Yee, Shiva Rea, Dona Holleman and others dropping in to give workshops.  After selling L.A. Yoga Center to Yoga Works in 1994 I resettled in my native Santa Cruz to be closer to my family, old friends, and the amazing central coast of California. I taught classes and teacher trainings at the non-profit Santa Cruz Veteran's Memorial Building for five years before opening Santa Cruz Yoga in January 2010.</p>

<p>Over the years, I’ve taught yoga teacher trainings to over eleven hundred participants, learning more each and every time and bringing that new knowledge into the next sessions. My status with Yoga Alliance as an E-RYT 500 allows me to award basic and advanced yoga teacher certification (RYT 200 and RYT 500) and to provide continuing education credits for all teachers. I'm also presently on the national Yoga Alliance Standards Committee, working with a team of other yogis to bring more accountability and transparency to Yoga Alliance, its member schools, and to absolutely elevate the legitimacy of the yoga teaching profession.</p>

<%= content_for :side do %>

<h2>Santa Cruz Yoga</h2>

<p>
402 Ingalls St., #11<br>
Santa Cruz, CA 95060<br>
<%= link_to 'www.SantaCruzYoga.net', 'http://www.santacruzyoga.net' %>
</p>

<div class="clear"></div>
<p>&nbsp;</p>

<p><iframe frameborder="0" height="200" marginheight="0" marginwidth="0" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=santa+cruz+yoga+402+Ingalls+St&amp;aq=&amp;sll=36.958688,-122.04905&amp;sspn=0.008625,0.021136&amp;vpsrc=0&amp;ie=UTF8&amp;hq=santa+cruz+yoga+402+Ingalls+St&amp;t=m&amp;cid=11046331428435748650&amp;hnear=&amp;ll=36.958465,-122.048836&amp;spn=0.020575,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed" width="250"></iframe><br />
	<small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=santa+cruz+yoga+402+Ingalls+St&amp;aq=&amp;sll=36.958688,-122.04905&amp;sspn=0.008625,0.021136&amp;vpsrc=0&amp;ie=UTF8&amp;hq=santa+cruz+yoga+402+Ingalls+St&amp;t=m&amp;cid=11046331428435748650&amp;hnear=&amp;ll=36.958465,-122.048836&amp;spn=0.020575,0.025749&amp;z=14&amp;iwloc=A" style="color: #ffffff; text-align: left;">View Larger Map</a></small></p>


<% end %>

<% content_for :top do %>
	<%= render 'pages/top_about' %> 
<% end %>