<h1 class="ind3">Yoga Teacher Training</h1>

<p><%= image_tag(url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/teaching_yoga_cover.jpg")) %></p>

<p>&nbsp;</p>
<div class="clear"></div>

<p>The Yoga Teacher Training & Certification Program is based in Santa Cruz, California. It provides a solid foundation in the art and science of teaching yoga, leading to 200-hour Yoga Teacher Certification and 500-hour Advanced Yoga Teacher Certification and registration with Yoga Alliance as a Registered Yoga Teacher (RYT 200 and RYT 500). Over 1,100 teachers have participated in this transformational program yoga teacher certification program since 1998, gaining the knowledge and skills for a lifetime of teaching excellence based on refined practice and comprehensive training in all of the elements of teaching yoga.</p>

<p>Click on the 200 and 500-hour programs for curriculum details (in the sidebar to the right).</p>

<p>&nbsp;</p>
<div class="clear"></div>

<h2 class="ind3">In this program you will:</h3>
<ul class="list1 inique f_14">
	<li>Study, refine and deepen your own yoga practice along with&nbsp;other highly motivated yoga teacher training participants.</li>
	<li>Learn to really teach <em>yoga </em>- not a yoga brand or single style, but&nbsp;<em>yoga</em>.</li>
	<li>Gain a thorough and practical understanding of over 75 asanas, including their alignment principles, energetic actions, variations, modifications, contra-indications, risks and benefits, enabling you to teach with confidence in a variety of approaches, including&nbsp;vinyasa flow, alignment-based practice, yoga therapy, and specialized styles.</li>
	<li>Learn practical functional anatomy that's of actual use in teaching yoga - how the body is structured, held together, moves and stabilizes- in a way&nbsp;that&nbsp;makes practical sense in teaching real human beings.</li>
	<li>Learn the tools and skills needed for effectively and clearly teaching yoga to all levels of students and various student intentions and conditions.</li>
	<li>Learn how to plan classes based on clear principles of sequencing within and between each family of asanas.</li>
	<li>Learn the art and science of giving hands–on adjustments and other forms of assistance, one of the essential tools in guiding students in their yoga practices.</li>
	<li>Develop an appreciation for different styles of yoga and different yoga teaching methodologies.</li>
	<li>Learn to work with injuries, pregnancy and other specific or unique student needs in your yoga classes.</li>
	<li>Explore the received wisdom from ancient yoga traditions and develop a well-rounded knowledge of yoga philosophy, ethics, history and lifestyle practices.</li>
	<li>Learn about teaching in a variety of settings - yoga studios, gyms, businesses, schools, community centers, retreat centers and more -&nbsp;as well as the basics of opening a yoga studio.</li>
	<li>Have a variety of opportunities to tailor your yoga studies to your specific interests.</li>
	<li>Gain extensive teaching experience through practice teaching, apprenticeships and mentoring.</li>
</ul>

<div class="clear"></div>

<h2 class="ind3">Personal Growth & Teaching Yoga</h2>

<p><%= image_tag(url_cdn("images/ytt8.jpg")) %></p>

<p>Yoga is a process for learning about ourselves and opening to our fullest potential. It helps us to expand our awareness and transform our lives in ways that make us happier, healthier and feeling more whole within ourselves and in our relationships with others in the world. Embracing these basic values is the starting point for becoming a good yoga teacher.</p>

<p>Participants in this program invariably experience a deep and lasting sense of personal transformation as all of the elements of yoga become clearer and better integrated as you explore every aspect of yoga in your personal practice. In contrast to teacher training programs that emphasize attainment, competition or mastery, in this program we look to explore, refine, deepen, expand and learn without end. The primary source of this transformative learning is one's personal practice, and it is in the practice of yoga that we gain the most insight into how best to share the practice with others. Because yoga is a process for self-transformation, there is nothing to master, no end to what we can learn and no limit to how much we can grow and share.</p>

<p>&nbsp;</p>
<div class="clear"></div>

<h2 class="ind3">Developing Best Practices</h2>

<p><%= image_tag(url_cdn("images/ytt9.jpg")) %></p>

<p>While yoga practice is the key to developing as a teacher, the Yoga Teacher Training & Certification Program methodically prepares you to teach with creativity, confidence, and competence. Rather than focusing narrowly on a single style or lineage, it is designed to give you the skills and knowledge to continuously evolve as a teacher based on your own evolution, interests, and intentions.</p>

<p>In contrast to quick immersion trainings and “mastery” programs, this program is designed to ensure that you develop and integrate a comprehensive foundation and set of skills into the fabric of your life so that you flourish as an informed practitioner and creative teacher of yoga for the rest of your life. This takes time, effort and commitment. Starting from wherever you are in your knowledge, skills and experience, this program will give you the opportunity to progressively develop into the best yoga teacher you can be.</p>

<p>Over 1,100 yoga teachers have participated in my yoga teacher training workshops over the past 17 years. They have gone on to teach in a variety of styles, including Vinyasa Flow, Anusara, Iyengar, Bikram, Ashtanga Vinyasa, Restorative & Therapeutic Yoga, Power Yoga, Yin, Pre/Post-Natal, Kids Yoga and others.</p>

<p>What color is your yoga parachute?! Come explore.</p>

<h2 style="text-align:center;"><%= link_to 'Call or email today with any questions!', contacts_url %></h2>

<p>&nbsp;</p>
<div class="clear"></div>

<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<h2>Upcoming Teacher Trainings</h2>

	<p><strong>Winter 2014: Santa Cruz, California</strong></p>

	<p><strong>7 consecutive weekends starting Jan. 11th</strong></p>
	
	<p>12:30-6:30 Saturdays & Sundays<br>
		<%= link_to 'Apply today to train to teach yoga!', registration_url, class: 'button1' %></p>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_ytt200' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_ytt500' %>

	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_yttdepth' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<h2>Scholarships</h2>
	
	<ul class="list1">
		<li>Joel Kramer & Diana Alstad Passionate Mind Scholarship<br>$2,500 Tuition Waiver</li>
		<li>Yoga Inside Scholarship<br>$1,500 Tuition Waiver</li>
		<li>Vanda Scarvali Memorial Scholarship<br>$500 Tuition Assistance</li>
		<li>Royal Sarah Stephens Memorial Scholarship<br>$500 Tuition Assistance</li>
	</ul>
	<%= link_to 'Learn More', scholarships_url, class: 'button1' %></p>

	
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-bones.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-stretch.jpg") %></li>
         </ul>
      </div>
	 </div>
<% end %>