<h1>500-Hour Yoga Teacher Training and Certification Program</h1>

<p>This is a “+300 Hour” Yoga Teacher Training program that builds upon the 200-Hour Yoga Teacher Training. Certification at the 500-hour level requires 300 hours of non- repetitive study beyond the 200-hour level.</p>

<p>&nbsp;</p>

<h2>Prerequisites</h2>

<p><%= image_tag(url_cdn("images/ytt11.jpg")) %></p>

<ul class="list1">
<li>200-Hour yoga teacher certification from a credible source.</li>
<li>Minimum of two years of teaching experience.</li>
<li>Current teaching position.</li>
</ul>

<p>If you have completed another credible 200-Hour teacher training program, you can be admitted into the 500-Hour program by successfully completing the 200-Hour Certification Exam. This qualifies you as a “+300” participant; you will begin your 300 hours with the 100-Hour Phase I Foundational Component described in detail on this website under the 200-Hour program. You will have additional assignments and be held to a higher standard of comprehension and skill in that course.</p>

<p>&nbsp;</p>

<h2>Advanced Teacher Training</h2>
<p>Advanced Yoga Teacher Training gives you a broader and deeper set of skills and insights to bring into your practice and teaching. The "advanced" quality of the 500-hour certification is not about so-called advanced asanas but rather developing an advanced understanding of how to effectively teach asana, pranayama and meditation to all levels and conditions of students. We look in considerably greater depth at each of the topics considered essential in your ongoing development as a professional yoga teacher.</p>

<p>Building on Foundational Training (Phase I of the 200-Hour Certification Program), the 500-hour Yoga Teacher Training program brings you into deeper study of several topics that you can chose from to tailor your program to your own interests as a teacher.</p>

<ul class="list1">
<li><strong>Optimal Sequencing</strong> - Topics include The Traditional Energetics of Sequencing (considering Koshas, Nadis, Chakras, Doshic Types and seasonal factors); Sequencing for Peak Asanas; Planning and Varying the Arc of a Class; Sequencing Restorative Yoga; Sequencing for Energetic Effects; The Bio-Mechanics of Asana Relationships.</li>

<li><strong>Philosophy, Ethics and History in Teaching</strong> - Topics include Vedic and Upanishadic Philosophy; The Bhagavad Gita; The Yoga Sutras of Patanjali; Tantra; The Origins and Development of Hatha Yoga; Yoga in the West.</li>

<li><strong>Advanced Anatomy & Physiology</strong> - Topics include Subtle Anatomy (Koshas, Prana, Nadis, Chakras); Anatomy of the Pelvic Girdle, Shoulder Girdle and Spine; Anatomy & Physiology of Respiration; Teaching Pranayamas; Applying Principles of Subtle Anatomy in Vinyasa Flow Yoga Classes.</li>

<li><strong>Yoga Therapy</strong> - Topics include Working with Injuries; Developing a Comprehensive Student Assessment and Practice Plan; Teaching Students with Scoliosis, Lordosis, Kyphosis and other Spinal Issues; Teaching Yoga to People in Pain; Teaching Yoga to Reduce Anxiety and Depression.</li>

<li><strong>Specialized Teaching</strong> – Topics include Teaching Pre-Post-Natal Yoga Classes; Teaching in Institutional Settings (schools, prisons, treatment centers); Planning, Organizing and Teaching Yoga Retreats; Teaching Partner Yoga; Teaching Yoga to Athletes; Teaching Kids; Teaching Seniors.</li>

<li><strong>The Practice of Teaching</strong> - This is you out there teaching, with the added support of an advanced mentor. Each module is comprised of weekend, all-week, or evening workshops offered throughout the year. Participants in the 200-hour program may opt to enroll in these modular courses prior to completing their 200-hour certification.</li>
</ul>

<p>&nbsp;</p>

<h2>Advanced Certification Exam</h2>
<p>The 500-Hour Advanced Yoga Teacher Certification Program concludes with a comprehensive written and performance exam. With successful completion of the exam you are awared the 500-Hour Advanced Yoga Teacher Certificate and my apply to Yoga Alliance for the RYT 500 registry.</p>

<p>&nbsp;</p>


<h2>Required Books</h2>

<ul class="list1">
<li>Desikachar, T. V. K.  The Heart of Yoga: Developing a Personal Practice (Rochester, Vermont, Inner Traditions International, 1995, 1999)</li>

<li>Lasater, Judith Hanson Yoga Body: Anatomy, Kinesiology, and Asana (Berkeley, Rodmell Press, 2009).</li>

<li>Stephens, Mark Teaching Yoga: Essential Foundations & Techniques (Berkeley: North Atlantic Books, 2010)</li>

<li>Stephens, Mark Yoga Sequencing: Designing Transformative Yoga Classes (Berkeley: North Atlantic Books, 2012)</li>

<li>White, Ganga Yoga Beyond Belief: Insights to Awaken & Deepen Your Practice (Berkeley, California, North Atlantic Books, 2007)</li>
</ul>

<p>&nbsp;</p>

<h2>Supplemental Reading Resources  (if you’re interested or on the RYT500 track)</h2>

<ul class="list1">
<li>Bouanchaud, Bernard  The Essence of Yoga: Reflections on the Yoga Sutras of Patanjali (Rudra Press, 1997)</li>

<li>Calais-Germain, Blandine Anatomy of Movement (Seattle, Washington, Eastland Press, 1985, 1993) Translated from the French by Nicole Commarmond.</li>

<li>Farhi, Donna The Breathing Book: Good Health and Vitality Through Essential Breath Work (Henry Holt, 1996)</li>

<li>Farhi, Donna Teaching Yoga: Exploring the Teacher-Student Relationship (Rodmill Press, 2006)</li>

<li>Frawley, David  Yoga & Ayurveda: Self-Healing and Self-Realization (Lotus Press, 1999)</li>

<li>Holleman, Dona Dancing the Body Light (Pegasus Enterprises, 1999).</li>

<li>Iyengar, B.K.S. Light on Pranayama (Crossroad Publishing, 1999)</li>

<li>Iyengar, B.K.S. Light on Yoga (New York, Schocken Books, 1966, Revised Edition 1977, 1979)</li>

<li>Iyengar, B.K.S. Yoga: The Path to Holistic Health (Dorling Kindersley, 2001)</li>

<li>Johari, Harish Chakras: Energy Centers of Transformation (Destiny Books, 1987)</li>

<li>Kaminoff, Leslie Yoga Anatomy: Your Illustrated Guide to Postures, Movements, and Breathing Techniques (2nd edition, Human Kinetics, 2012)</li>

<li>Kapit, Wynn & Lawrence M. Elson The Anatomy Coloring Book (Harper Collins 1993)</li>

<li>Long, Ray  The Key Poses of Hatha Yoga: Your Guide to Functional Anatomy in Hatha Yoga (Bandha Yoga Publications, 2008)</li>

<li>Maehle, Gregor Ashtanga Yoga: Practice and Philosophy (Novato, California: New World Library, 2006)</li>

<li>Paramhansa Yogananda, Autobiography of a Yogi (Reprint of the Philosophical Library1946 First Edition. Reprinted by Crystal Clarity Publishers, Nevada City, CA, 1995)</li>

<li>Rosen, Richard The Yoga of Breath: A Step-by-Step Guide to Pranayama (Shambhala, 2002)</li>

<li>Scaravelli, Vanda Awakening the Spine: The stress free new yoga that works with the body to restore health, vitatlity and energy (San Francisco, California, Harper San Francisco,  1991)</li>

<li>Schiffmann, Erich Yoga: The Spirit and Practice of Moving into Stillness (New York, Pocket Books, Simon and Schuster, 1996)</li>

<li>Singleton, Mark Yoga Body: The Origins of Modern Postural Practice (London, Oxford University Press, 2012).</li>

<li>Swami Muktibodhananda, Hatha Yoga Pradipika: Light on Hatha Yoga (Bihar School of Yoga, 1985, 1998).</li>

<li>Swenson, David Ashtanga Yoga Practice Manual: An Illustrated Guide to Personal Practice Forward by K. Pattabhi Jois (Ashtanga Yoga Productions, 1999)</li>

<li>Swami Prabhavananda & Christopher Isherwood (trans.), The Song of God: Bhagavad-Gita (The Vedanta Society, 1944).</li>

<li>White, David Gordan Yoga in Practice (Princeton University Press, 2011)</li>
</ul>

<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<h2>500–Hour Certification Requirements Summary</h2>
	<ul class="list1">
	<li>Complete the 200-Hour Certification Program or show evidence of comparable training and experience.</li>
	<li>Complete 300 hours of non-repetitive additional courses and non-contact studies tailored to your teaching interests.</li>
	<li>Complete and Pass the 500–Hour Advanced Teacher Certification Examination</li>
	</ul>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<h2>Tuition</h2>
	<p>$2,500 (Payment Plan available)</p>
	
	<div class="clear"></div>
	<p>&nbsp;</p>

<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-closeup.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-refine.jpg") %></li>
         </ul>
      </div>
	 </div>
<% end %>