<h1 class="ind3">FAQ</h1>

<p><strong><i>"Twenty-five years ago I couldn’t imagine being a yoga teacher. Although I had dabbled in yoga in my late teens, things like college, work, and relationships took me in a different direction. Indeed, I went so far in another direction that yoga would seem farthest from it, yet that path brought me back to the practice in a way that felt like coming home after a long adventure. A few years later teaching yoga became the most natural expression of what mattered most in my life."</i></strong></p>

<div class="clear"></div>
<p>&nbsp;</p>


<div class="question">
<h2>What kind of yoga is taught?</h2>
<div class="answer">
<p>This is an eclectic program that draws and integrates the best elements several different yoga styles and lineages. Rather than training you to duplicate a specific system or style, we offer you an environment and resources to develop a solid foundation in the art and science of teaching yoga in a way that is designed for the student(s) in front of you in a class.</p>

<p>The official name of our school – Vinyasa Flow Yoga Teacher Training & In–Depth Studies Program – reflects our commitment to teaching in the literal sense of “vinyasa,” which means “to place in a special way.” We focus on learning to understand what is happening with the real students in front of you so that you can give them appropriate guidance. In doing so, we draw from multiple styles, including Ashtanga Vinyasa, Iyengar, Anusara, Yoga Therapy, Tantra and various innovative flow styles as well as yoga philosophy, traditional concepts of yoga energetics, and functional anatomy, bio-mechanics, and kinesiology.</p>

<p>As you explore this and other yoga teacher training programs, bear in mind that ALL forms of physical yoga, regardless of style, brand or lineage – are Hatha Yoga; Hatha is the umbrella over all the physical yogas, from Ashtanga and Bikram to Power and Svaroopa.</p>

<p>This program also encourages you to explore yoga in all its richness with the most open mind possible. Our approach is non–dogmatic, non-sectarian, and is not in any way part of a religion. We encourage you to think, to be creative, and to contribute to the ongoing creative evolution of yoga. If you are looking for a purist approach that treats yoga as a religion or tells you exactly how to do everything, this program is not for you. However, there are plenty of such guru/authority–oriented programs out there in the world!</p>
</div>

<div class="question">
<h2>What kind of yoga will this program prepare me to teach?</h2>
<div class="answer">
<p>This program prepares you to teach yoga, not a style or system, but yoga. Our graduates are now teaching everything from Ashtanga to Gentle Yoga, Anusara to Pre-Natal, Power Vinyasa to Acro, Yoga Therapy to Relax Deeply. Approximately half of our graduates describe their classes as "vinyasa flow."</p>
</div>

<div class="question">
<h2>How and when do I apply to the program?</h2>
<div class="answer">
<p>Complete and submit the application as soon as you are inspired to enter our program. We will immediately begin giving you support in the form of guidance, mentoring, and sharing program resources with you.</p>
</div>

<div class="question">
<h2>How do I get started?</h2>
<div class="answer">
<p>As soon as your application is accepted you will receive a formal welcome letter that includes the reading list for the program. You are strongly encouraged to complete some of the readings prior to starting the course. You are also strongly encouraged to stay in your yoga practice, stay as healthy as can be, and invite your friends and family to be supportive of your commitment to doing this program.</p>
</div>

<div class="question">
<h2>May I take any of the required workshops prior to starting the 7–week course?</h2>
<div class="answer">
<p>Yes. You are welcome to begin taking the required workshops as soon as you would like. However, with most workshops you will benefit from completing 7–week course first (especially Hands–On Adjustments, Sequencing, Working with Injuries, and Teaching Pre-Natal Yoga).</p>
</div>

<div class="question">
<h2>I read Mark’s book, Teaching Yoga. Is this what you teach?</h2>
<div class="answer">
<p>Mark’s book is one of several resources we tap into throughout the trainings, and the trainings go far beyond what is contained in the book. The book conveys the open-minded and exploratory attitude that Mark brings to the trainings and that he encourages among all participants, and it sets a standard for comprehensive professional development as a highly competent yoga teacher.</p>
</div>

<div class="question">
<h2>What prior experience or level of practice is required for admission?</h2>
<div class="answer">
<p>This program recognizes and respects that people come to yoga and to the teaching path from a vast array of backgrounds and with widely varying intentions and conditions. Yoga is neither a competitive not a comparative practice, but rather a practice of personal self-transformation. As such, this program welcomes all levels of students. While our focus is on making you the best teacher you can be, our process starts from where you are and supports you in taking your practice, skills, and knowledge to a deeper level. We strongly encourage you to have at least one year of regular yoga practice prior to entering the program. If you have any concerns about this, please discuss it with Mark.</p>
</div>

<div class="question">
<h2>How can you have different levels of students participating in the same program?</h2>
<div class="answer">
<p>Just like in all public yoga classes where we appreciate and work with the diverse students who are there, in the yoga teacher training we take diversity as a strength as it gives us the opportunity to learn how to work with a variety of student abilities and conditions.</p>
</div>

<div class="question">
<h2>What is the difference between the 200–, 300–, and 500–hour programs?</h2>
<div class="answer">
<p>Completion of the 200–Hour program confers the Yoga Teacher Certificate. This is the basic teaching certificate that is recognized by Yoga Alliance and signifies that you are prepared to teach yoga. This qualifies you to register with Yoga Alliance as a RYT-200.</p>

<p>Completion of the 500–Hour program confers the Advanced Yoga Teacher Certificate. This is the advanced teaching certificate that is recognized by Yoga Alliance and signifies that you are prepared to teach yoga with the deeper knowledge and skills developed through more extensive studies. This qualifies you to register with Yoga Alliance as a RYT–500.</p>

<p>The 300–Hour program is for participants who already have a 200–Hour certificate and wish to complete the 500–Hour program. Completion of this option confers the same 500–Hour certificate described above.</p>
</div>

<div class="question">
<h2>How much time will I need to study outside the scheduled program hours?</h2>
<div class="answer">
<p>This varies depending upon your level of commitment to your studies and your reading skills. Every week (and in preparation for the first sessions) you will receive a reading assignment. The amount of time this reading takes will depend on the assignment and you. Most of the readings are done in advance of the course and within the first three weeks.</p>
</div>

<div class="question">
<h2>How long will it take me to complete my certification?</h2>
<div class="answer">
<p>This depends primarily on you. Most participants take 6 months to a year to complete the 200–hour program and 2–3 years to complete the 500–hour program. Highly motivated participants with ample free time can complete the 200–hour program in 4 months and the 500–program in less than one year.</p>

<p>We strongly believe that quick immersion programs – where you can enter day one with minimal yoga experience and leave two weeks later a certified yoga teacher – do not allow sufficient time to study deeply and integrate your new knowledge and skills in a lasting or effective way.</p>

<p>This program is designed to help ensure that you maximize the retention and full integration of all you learn, thereby giving you the best return on your investment of time, money, and energy.</p>
</div>

<div class="question">
<h2>What is the certification process?</h2>
<div class="answer">
<p>First, complete all the required hours. Second, take and pass the take–home certification exam. Along the way you are also required to take a mid-term exam after completing the first 100–hours of your studies. Based upon this and other course work and observations, Mark will review your exam with you in detail and give you individualized guidance in preparing for the final certification exam.</p>
</div>

<div class="question">
<h2>Will I be able to register with Yoga Alliance?</h2>
<div class="answer">
<p>Yes, we are a Registered Yoga School (RYS 200 and RYS 500). Once you successfully complete the certification exam, you will receive your certificate (Certified Yoga Teacher, CYT), which you can submit to Yoga Alliance to become a Registered Yoga Teacher (RYT).</p>
</div>

<div class="question">
<h2>Is there credit for yoga teacher training hours completed in another program?</h2>
<div class="answer">
<p>Yes. We offer a comprehensive and integrated program yet very much appreciate the value of training you can receive in other programs. You can apply up to 24 hours from another program upon approval. The program must be credible and a Yoga Alliance Registered Yoga School (RYS).</p>
</div>

<div class="question">
<h2>Can I apply my 200–hour training from another school to your 500–hour program?</h2>
<div class="answer">
<p>Yes. It must be from a Yoga Alliance Registered Yoga School (RYS) and you must pass our 200–hour certification exam (5 hours, closed–book, no notes, only what you know in your body-mind).</p>
</div>

<div class="question">
<h2>What is the maximum time I can take to complete the certification program?</h2>
<div class="answer">
<p>You can take up to 2 years to complete the 200–hour program and up to 3 years to complete the 500–hour program.</p>
</div>

<div class="question">
<h2>What support is available during this entire process?</h2>
<div class="answer">
<p>You can always contact Mark directly to discuss whatever questions or concerns you may have. Once the course is underway, we do a lot to foster connections among participants, giving you built–in mutual support system. We also connect you with scores of past participants, including other teachers at Santa Cruz Yoga who have completed this program. In addition, Mark will be meeting with you individually to mentor you at different times throughout the program, including after you have completed your certification and you are entering the world of teaching yoga.</p>
</div>

<div class="question">
<h2>Will you assist me in my career development as a yoga teacher?</h2>
<div class="answer">
<p>Yes. First and foremost, we will ensure that you receive every opportunity to develop the skills and knowledge to become an excellent yoga teacher. Second, you will receive two hours of dedicated guidance from Mark in assessing the best options for your immediate career development, starting with an assessment of your current preparation, interests, connections, and most promising options. Third, you will receive thorough guidance in how to navigate the business and profession of yoga, covering everything from crafting yoga yoga resume, getting early teaching experience, developing relationships with studios and other yoga venues, getting insurance, negotiating compensation, and ways of sustaining yourself in the world as a yoga teacher.</p>
</div>

<div class="question">
<h2>Will I have an opportunity to participate in other classes and workshops at Santa Cruz Yoga?</h2>
<div class="answer">
<p>Yes. During the first 100 hours of your program, you can take as many regularly scheduled classes as you would like for free. This is offered to help ensure that you stay in your personal practice. You are also welcome to participate in all other workshops and special events for the regular fees.</p>
</div>

<div class="question">
<h2>Where can I stay if I come to Santa Cruz for the 7–week course?</h2>
<div class="answer">
<p>Santa Cruz is a major tourist destination on California’s central coast and the home to a major university (University of California at Santa Cruz) as well as Cabrillo College, Five Branches University of Traditional Chinese Medicine, Twin Lakes College of Massage, and a number of other institutes and centers of learning and alternative health. We have a large rental housing market, youth hostels, many rooms to rent, vacation rentals, as well as hotels and motels.</p>
</div>


<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_ytt200' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_ytt500' %>

	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_yttdepth' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>

		
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_ytt' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>	
		
<% end %>