<h1 class="ind3">Yoga Teacher Training Program Registration</h1>

<strong><i>Winter Program Starts January 11, 2014</i></strong>
<p>Saturdays & Sundays, 12:30–6:30pm<br>
January 11 – February 23, 2014</p>

<p>&nbsp;</p>
<div class="clear"></div>

 
<h2>How to Register for Yoga Teacher Training</h2>
<ul class="list1">
<li>Complete the application (online, download, print, or mail). <%= link_to 'Click Here To Download Program Application', url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/yttapplication.pdf"), :target => "_blank" %> or Go to Application form page</li>
<li>Send in your application and application fee.</li>
<li>Receive your acceptance letter.</li>
<li>Pay full tuition of $2,500 (your application fee goes toward your tuition). </li>
<li>Payment Plan - Pay the initial $500 payment (your application fee goes toward your first payment). </li>
</ul>

<p>&nbsp;</p>
<div class="clear"></div>

<h2>Deposit</h2>
<p>A non-refundable application fee of $100 is due upon receipt of your Application for Admission. This fee is applied toward your tuition.</p>

<p><strong><i>Full Tuition Due Date</i></strong></p>
<p>All course fees are due 14 days prior to the start of the program for which you are registered.</p>

<p>&nbsp;</p>
<div class="clear"></div>

<h2>Payment Plan</h2>
<p>A Monthly Payment Program is available upon request. This requires a $500 tuition payment (this covers your application fee)  two weeks prior to the beginning of the course (or earlier) and monthly payments of $500 scheduled each month from the date of your initial payment. All payments (100% of the full tution) must be paid in full prior to completing the program.</p>

<p>&nbsp;</p>
<div class="clear"></div>

<h2>Refund Policy</h2>
<p>The application fee is refundable up until two weeks prior to the start of the course and is forfeited after that. One-hundred percent (100%) of the full tuition is refundable up until two weeks prior to the start of the course (minus the $100 application fee). A partial tuition refund of 90% (minus the $100 application fee) is available up until the course begins. Once the course begins, refunds are given as follows: 80% after the first weekend, 60% after the second weekend, 40% after the third weekend (all minus the applicaiton fee). There are no refunds after the third weekend.</p>

<p>&nbsp;</p>
<div class="clear"></div>

<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick" /> <input name="hosted_button_id" type="hidden" value="GZEUUJJZJ5ZR6" />
	<table>
		<tbody>
			<tr>
				<td><input name="on0" type="hidden" value="Payment Options" /><h2>Payment Options</h2></td>
			</tr>
			<tr>
				<td><select name="os0"><option value="Application Deposit">Application Deposit $100.00 USD</option><option value="Full Tuition (Includes Deposit)">Full Tuition (Includes Deposit) $2,500.00 USD</option><option value="Tuition Balance">Tuition Balance $2,400.00 USD</option><option value="$500 Monthly Payment">$500 Monthly Payment $500.00 USD</option><option value="$400 (1st Month Payment if Deposit Paid)">$400 (1st Month Payment if Deposit Paid) $400.00 USD</option></select></td>
			</tr>
		</tbody>
	</table>
	<input name="currency_code" type="hidden" value="USD" /> <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" type="image" /> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" /></form>

	
		
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-ytt.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-closeup.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-refine.jpg") %></li>
         </ul>
      </div>
	 </div>
<% end %>