<h1 class="ind3">Testimonials</h1>

<div class="testimonials">
	<% for testimonial in @testimonials %>
	
		<div class="testimonial">
			<h2><%= testimonial.title %></h2>
			<div class="w-summary">
				<%= raw testimonial.summary %>
				<% if testimonial.content != '' %>
					<span class="more">See More...</span>
				<% end %>
			</div>
			<% if testimonial.content != '' %>
				<div class="w-content">
					<%= raw testimonial.content %>
					<span class="less">See Less</span>
				</div>
			<% end %>
		</div>
	
	<% end %>
</div>

<% content_for :side do %>
	<%= render 'layouts/side_ytt' %>
	
<<<<<<< HEAD
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_ytt200' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_ytt500' %>

	
	<div class="clear"></div>
	<p>&nbsp;</p>
	
	<%= render 'pages/side_yttdepth' %>
	
	<div class="clear"></div>
	<p>&nbsp;</p>

		
<% end %>

<% content_for :top do %>
	<%= render 'pages/top_ytt' %>
=======
	
	<div class="clear"></div>
	<p>&nbsp;</p>	
		
>>>>>>> a9de3ff4fe6633590b90c8b0158dcc2f91cb21ac
<% end %>