<h1>Contact Mark</h1>


<%= simple_form_for @contact do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email %>
  <%= f.input :content, as: :text %>
  <%= f.button :submit, 'Send', :class => 'btn' %>
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-dog.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-balance.jpg") %></li>
         </ul>
      </div>
	 </div> 
<% end %>