<h1><%= link_to 'Blog: On Practice & Teaching', blog_url %></h1>

<%= render 'posts/head' %>

<% for post in @post %>
	<div class="post list-item">
		<div class="title">
			<h2><%= post.title %></h2>
		</div>
		<div class="summary">
			<%= raw post.content %>
		</div>
	</div>
<% end %>

<% content_for :top do %>
	<div class="block2">
      <div class="flexslider">
         <ul class="slides">
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-dog.jpg") %></li>
          <li><%= image_tag url_for_cdn("https://s3-us-west-1.amazonaws.com/markstephensyoga/uploads/images/slide-balance.jpg") %></li>
         </ul>
      </div>
	 </div> 
<% end %>