<div class="btn-group">
	<button {{bindAttr class="view.aL:active :btn"}} {{action setVal "left" target="view"}}>L</button>
	<button {{bindAttr class="view.aC:active :btn"}} {{action setVal "center" target="view"}}>C</button>
	<button {{bindAttr class="view.aR:active :btn"}} {{action setVal "right" target="view"}}>R</button>
	<button {{bindAttr class="view.aJ:active :btn"}} {{action setVal "justified" target="view"}}>J</button>
</div>
{{view.test}}