<h1>Listing tests</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Bio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tests.each do |test| %>
  <tr>
    <td><%= test.first_name %></td>
    <td><%= test.last_name %></td>
    <td><%= test.bio %></td>
    <td><%= link_to 'Show', test %></td>
    <td><%= link_to 'Edit', edit_test_path(test) %></td>
    <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test', new_test_path %>
