<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @test.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @test.last_name %>
</p>

<p>
  <b>Bio:</b>
  <%= @test.bio %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
