
<section>
	
	<div class="text">
		<h2>Advertisements do not necessarily reflect opinion of Jewish eCards</h2>
		<h3><a href="#">Advertise with us!</a></h3>
	</div>
	
	<div class="list">
	
		<div class="ad first">
			<%= image_tag('ad.jpg') %>
		</div>
		
		<div class="ad">
			<%= image_tag('ad.jpg') %>
		</div>
		
		<div class="ad last">
			<%= image_tag('ad.jpg') %>
		</div>
		
		<div class="ad first">
			<%= image_tag('ad.jpg') %>
		</div>
		
		<div class="ad">
			<%= image_tag('ad.jpg') %>
		</div>
		
		<div class="ad last">
			<%= image_tag('ad.jpg') %>
		</div>
	
	</div>
	
</section>
