<div class="block4">
		  <aside>
				<div class="container_24">
					 <div class="wrapper">
						  <div class="grid_8">
								<div class="inner">
									<h3>Testimonials</h3>
									<p><em>My own practice has become deeper, more rewarding and just plain feels better. My confidence as a teacher is ten-fold what I expected it would be this early in my teaching experience.</em></p>
									<div class="customers extra_wrapper">
									 <%= link_to 'See all testimonials', testimonials_url, class: 'link1' %>
									</div>
								</div>
						  </div>
						  <div class="grid_7 prefix_1 column_a">
								<div class="inner1">
									 <h3 class="ind1">Featured Links</h3>
									 <div class="wrapper">
										  <div class="dgrid_3 alpha">
												<ul>
													 <li><%= link_to 'YTT Info', contacts_url %></li>
													 <li><%= link_to 'YTT Programs', ytt_url %></li>
													 <li><%= link_to 'YTT Apply', applies_url %></li>
													 <li><%= link_to 'YTT FAQ', faq_url %></li>
													 <li><%= link_to 'Workshops', workshops_url %></li>
													 <li><%= link_to 'Classes', classes_url %></li>
												</ul>
										  </div>
										  <div class="dgrid_3 omega">
												<ul>
													 <li><%= link_to 'Santa Cruz Yoga', scyoga_url %></li>
													 <li><%= link_to 'Resources', resources_url %></li>
													 <li><%= link_to 'About Mark', about_url %></li>
													 <li><%= link_to 'Scholarships', scholarships_url %></li>
													 <li><%= link_to 'Gratitude', gratitude_url %></li>
												</ul>
										  </div>
									 </div>
								</div>
						  </div>
						  <div class="grid_8 column_a">
								<div class="inner2">
									 <h3>Newsletter Sign Up</h3>
									 <form id="form1">
                      <a href="/newsletters" class="link5">
	                      <div class="success">Signup to our Newsletter</div>
                      </a>
                      <label class="email">
                        <input type="email" value="">
                        <a href="#" data-type="submit">Subscribe</a>
                        <span class="error">*This is not a valid email address.</span>
                      </label>
                   </form>
									 <div class="social">
									 <%= link_to image_tag(url_cdn("images/theme/icon1.png")), 'http://facebook.com/TeachingYoga', target: '_blank', title: 'Facebook' %>
									 <%= link_to image_tag(url_cdn("images/theme/icon2.png")), 'http://pinterest.com/mstephensyoga/', target: '_blank', title: 'Pinterest' %>

<%= link_to image_tag(url_cdn("images/theme/icon3.png")), 'http://www.linkedin.com/profile/view?id=19750354&trk=tab_pro', target: '_blank', title: 'LinkedIn' %>
								 </div>		
								</div>
						  </div>
					 </div>
				</div>
		  </aside>
	 </div>
	 <footer>
      <div class="container_24">
        <div class="grid_24">Copyright &copy; 2013 | Mark Stephens Yoga. All rights reserved. </div>
      </div>
    </footer>