<section>
	
	<div class="links">
		<a href="cards?card_filter%5Boptions%5D%5B%5D=eCards" class="ec">eCards</a>
		<a href="cards?card_filter%5Boptions%5D%5B%5D=eInvites" class="ei">eInvites</a>
		<a href="cards?card_filter%5Boptions%5D%5B%5D=Downloads" class="d">Downloads</a>
	</div>
	
	<div class="list">
	
		<h2>Shabbat & Festivals:</h2>
		<ul>
			<li><%= link_to "Shabbat", "/cards?tag=Shabbat" %></li>
			<li><%= link_to "Rosh Hashanah", "/cards?tag=Rosh Hashanah" %></li>
			<li><%= link_to "Sukkot", "/cards?tag=Sukkot" %></li>
			<li><%= link_to "Simcat Torah", "/cards?tag=Simcat Torah" %></li>
			<li><%= link_to "Chanukah", "/cards?tag=Chanukah" %></li>
			<li><%= link_to "Tu B'Shvat", "/cards?tag=Tu B'Shvat" %></li>
			<li><%= link_to "Purim", "/cards?tag=Purim" %></li>
			<li><%= link_to "Pesach", "/cards?tag=Pesach" %></li>
			<li><%= link_to "Shavuot", "/cards?tag=Shavuot" %></li>
			<li><%= link_to "Tu B'Av", "/cards?tag=Tu B'Av" %></li>
		</ul>
		
		<h2>Lifecycles & Blessings:</h2>
		<ul>
			<li><%= link_to "Baby Announcement", "/cards?tag=Baby Announcement" %></li>
			<li><%= link_to "Baby Mazel Tov", "/cards?tag=Baby Mazel Tov" %></li>
			<li><%= link_to "Brit Milah", "/cards?tag=Brit Milah" %></li>
			<li><%= link_to "Upshern", "/cards?tag=Upshern" %></li>
			<li><%= link_to "Birthday", "/cards?tag=Birthday" %></li>
			<li><%= link_to "Bat Mitzvah", "/cards?tag=Bat Mitzvah" %></li>
			<li><%= link_to "Bar Mitzvah", "/cards?tag=Bar Mitzvah" %></li>
			<li><%= link_to "Graduation", "/cards?tag=Graduation" %></li>
			<li><%= link_to "New Job", "/cards?tag=New Job" %></li>
			<li><%= link_to "Engagement", "/cards?tag=Engagement" %></li>
			<li><%= link_to "Wedding", "/cards?tag=Wedding" %></li>
			<li><%= link_to "Anniversary", "/cards?tag=Anniversary" %></li>
			<li><%= link_to "New Home - Blessings", "/cards?tag=New Home - Blessings" %></li>
			<li><%= link_to "New Home", "/cards?tag=New Home" %></li>
			<li><%= link_to "Announcement", "/cards?tag=Announcement" %></li>
			<li><%= link_to "Condolences", "/cards?tag=Condolences" %></li>
			<li><%= link_to "Good Luck", "/cards?tag=Good Luck" %></li>
			<li><%= link_to "Mazel Tov - General", "/cards?tag=Mazel Tov - General" %></li>
			<li><%= link_to "Bon Voyage", "/cards?tag=Bon Voyage" %></li>
			<li><%= link_to "Get Well", "/cards?tag=Get Well" %></li>
			<li><%= link_to "Thank You", "/cards?tag=Thank You" %></li>
			<li><%= link_to "Sorry", "/cards?tag=Sorry" %></li>
			<li><%= link_to "Friendship", "/cards?tag=Friendship" %></li>
			<li><%= link_to "Thinking of You", "/cards?tag=Thinking of You" %></li>
			<li><%= link_to "Encouragement", "/cards?tag=Encouragement" %></li>
			<li><%= link_to "Love", "/cards?tag=Love" %></li>
			<li><%= link_to "Other", "/cards?tag=Other" %></li>
		</ul>
		
		<h2>Secular Holidays:</h2>
		<ul>
			<li><%= link_to "Thanksgiving", "/cards?tag=Thanksgiving" %></li>
			<li><%= link_to "Mother's Day", "/cards?tag=Mother's Day" %></li>
			<li><%= link_to "Father's Day", "/cards?tag=Father's Day" %></li>
		</ul>
		
		<h2>Designed by Kids:</h2>
		<ul>
			<li><%= link_to "Designed by Children", "/cards?tag=Designed by Children" %></li>
		</ul>
	
	</div>
	
</section>