<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Jewish Ecards" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Jewish Ecards" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    
    <div class="wrapper">
    
    	<div class="header">
		    	
	    	<!-- top -->
	    	<div class="top">
	    		<%= render 'layouts/top' %>
	    	</div>
	    	
	    	<!-- menu -->
	    	<div class="menu">
	    		<%= render 'layouts/menu' %>
	    	</div>
	    	
	    	<!-- search/filter -->
	    	<div class="filter">
	    		<%= render 'layouts/filter' %>
	    	</div>
		    	
    	</div>
    	
    	<div class="main">
	    	
	    	<!-- calendar -->
	    	<div class="calendar">
		    	<%= yield :calendar %>
	    	</div>
	    	
	    	<!-- cards -->
	    	<div class="cards">
		    	<%= yield :cards %>
	    	</div>
	    	
	    	<!-- wrap -->
	    	<div class="wrap">
			    	
		    	<!-- sidebar -->
		    	<div class="sidebar">
		    		<aside>
			    		
			    		<!-- subnav -->
			    		<div class="subnav">
				    		<%= render 'layouts/subnav' %>
			    		</div>
			    		
			    		<!-- tags -->
			    		<div class="tags">
			    			<%= render 'layouts/tags' %>
			    		</div>
			    		
			    		<!-- news -->
			    		<div class="news">
				    		<%= render 'layouts/news' %>
			    		</div>
			    		
		    		</aside>
		    	</div>
		    	
		    	<!-- content -->
		    	<div class="right">
		    		
		    		<!-- messages -->
		    		<div class="msgs">
			    		<%= render 'layouts/messages' %>
		    		</div>
		    		
		    		<div class="content">
			    		<%= yield %>
		    		</div>
		    		
		    		<div class="ads">
		    			<%= render 'layouts/ads' %>
		    		</div>
		    		
		    	</div>
			    	
	    	</div>
	    	
    	</div>
    	
    	<div class="footer">
	    	<%= render 'layouts/footer' %>
    	</div>
    
    </div>
  
  </body>
</html>
